@charset "UTF-8";
html {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #333;
}

body {
  height: 100%;
  background: #F4F5F6;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

i {
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  outline: 0;
}

textarea {
  resize: none;
  outline: 0;
}

button, input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  border: none;
  outline: 0;
  background: inherit;
  padding: 0;
}

video {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.09);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 100px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: inherit;
  color: #C0C4CC;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: inherit;
  color: #C0C4CC;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: inherit;
  color: #C0C4CC;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-family: inherit;
  color: #C0C4CC;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.flex {
  display: flex;
}

.hidden-text, .text-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cont {
  max-width: 1005px;
  margin: 0 auto;
}

.overflow {
  overflow: hidden;
}

.width-1200 {
  width: 1200px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hidden-text, .text-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hover {
  cursor: pointer;
}

.no-more {
  text-align: center;
  padding: 20px 0;
  color: #8590A6;
  font-size: 14px;
}
.no-more .empty-icon {
  margin-right: 10px;
  font-size: 16px;
}

.load-more {
  color: #1878F3;
  border: 1px solid #E5F2FF;
  font-size: 16px;
  text-align: center;
  padding: 12px 0;
  line-height: 1;
  cursor: pointer;
  margin: 20px;
  border-radius: 2px;
}
.load-more:hover {
  background: #E5F2FF;
  border: 1px solid #1878F3;
}

.btn-primary-plain {
  color: #1878F3;
  border: 1px solid #1878F3;
  transition: all 0.1s ease-in-out;
}
.btn-primary-plain:hover {
  background: #E5F2FF;
  border: 1px solid #D4E6FC;
}

.btn-primary {
  background: #1878F3;
  color: #fff;
  transition: all 0.1s ease-in-out;
}
.btn-primary:hover {
  background: #006CD1;
}

.el-select-dropdown__item.selected, .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  color: #1878F3 !important;
  background-color: transparent !important;
}

.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: #f5f5f5 !important;
}

.el-table td {
  border-bottom: 1px solid #f5f5f5 !important;
}

/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=reset.css.map */
/* el-button 颜色 */
.el-button.el-button--primary {
  border: none !important;
  background: #1878F3 !important;
  border-radius: 2px !important;
}
.el-button.el-button--primary:hover {
  border: none !important;
  background: #006CD1 !important;
}

.el-message {
  min-width: 100px !important;
}

.el-image {
  border-radius: 0 !important;
}

.el-upload--picture-card {
  border-radius: 0 !important;
}

.el-upload-list--picture-card .el-upload-list__item {
  border-radius: 0 !important;
}

/* html */
.content-html {
  overflow: auto;
  font-size: 16px;
  line-height: 24px;
  word-break: break-word;
}
.content-html .h1 {
  margin: 10.72px 0;
  font-size: 32px;
  line-height: 19.2px;
}
.content-html .h2 {
  margin: 13.28px 0;
  font-size: 24px;
}
.content-html .h3 {
  margin: 16px 0;
  font-size: 18.72px;
}
.content-html .h4 {
  margin: 21.28px 0;
}
.content-html .h5 {
  margin: 26.72px 0;
  font-size: 13.28px;
}
.content-html .h6 {
  margin: 26.72px 0;
  font-size: 13.28px;
}
.content-html .h1, .content-html .h2, .content-html .h3, .content-html .h4, .content-html .h5, .content-html .h6, .content-html .b, .content-html .strong {
  font-weight: bolder;
}
.content-html div {
  margin: 0;
  padding: 0;
  display: block;
  word-break: break-word;
}
.content-html p {
  line-height: 24px;
  font-size: 16px;
  clear: both;
  margin-bottom: 16px;
}
.content-html p:last-child {
  margin-bottom: 0;
}
.content-html i, .content-html cite, .content-html em, .content-html var, .content-html address {
  font-style: italic;
}
.content-html .spaceshow {
  white-space: pre;
}
.content-html pre, .content-html tt, .content-html code, .content-html kbd, .content-html samp {
  font-family: monospace;
}
.content-html .pre {
  padding: 16px;
  margin: 16px 0;
  overflow: auto;
  font-size: 24px;
  white-space: pre;
  background: #f5f5f5;
}
.content-html code {
  display: block;
  padding: 16px;
  margin: 10px 0;
  overflow: auto;
  font-size: 16px;
  white-space: pre;
  background: #f5f5f5;
  max-width: 650px;
}
.content-html .big {
  font-size: 18.72px;
}
.content-html .small, .content-html .sub, .content-html .sup {
  font-size: 13.28px;
}
.content-html .sub {
  vertical-align: sub;
}
.content-html .sup {
  vertical-align: super;
}
.content-html .s, .content-html .strike, .content-html .del {
  text-decoration: line-through;
}
.content-html .strong, .content-html .text, .content-html .span, .content-html .s {
  display: inline;
}
.content-html .video {
  margin: 22px 0;
  text-align: center;
}
.content-html .video-video {
  width: 100%;
}
.content-html .uni-image {
  max-width: 100%;
}
.content-html img {
  max-width: 100% !important;
  overflow: hidden !important;
}
.content-html .qq-emotion {
  height: 22px;
  margin: 0;
}
.content-html video {
  max-width: 100% !important;
  overflow: hidden !important;
}
.content-html blockquote {
  padding: 22px 0 22px 22px;
  margin: 10px 0;
  color: #6a737d;
  border-left: 6px solid #dbdbdb;
}
.content-html blockquote p {
  margin: 0;
}
.content-html ul {
  display: block;
  padding-left: 32px;
  margin: 1em 0;
  list-style: disc;
}
.content-html ol {
  display: block;
  padding-left: 32px;
  margin: 1em 0;
  list-style: revert;
}
.content-html ul > li {
  display: list-item;
  align-items: baseline;
  text-align: match-parent;
}
.content-html ol ul {
  list-style-type: circle;
}
.content-html u {
  text-decoration: underline;
}
.content-html .hide {
  display: none;
}
.content-html del {
  display: inline;
}
.content-html .figure {
  overflow: hidden;
}
.content-html .tablebox {
  padding: 8px;
  overflow: auto;
  font-size: 13px;
  background: #f5f5f5;
  background-color: #f5f5f5;
}
.content-html table table, .content-html table {
  overflow: auto;
  white-space: pre;
  border-collapse: collapse;
  box-sizing: border-box;
}
.content-html table thead, .content-html table tfoot, .content-html table th {
  font-weight: bold;
  background: #ececec;
  border-collapse: collapse;
  box-sizing: border-box;
}
.content-html table tr {
  overflow: auto;
  border-collapse: collapse;
  box-sizing: border-box;
}
.content-html table th, .content-html table td {
  overflow: auto;
  border: 2px solid #dadada;
  border-collapse: collapse;
  box-sizing: border-box;
}
.content-html tbody {
  border: 1px solid #dadada;
  border-collapse: collapse;
  box-sizing: border-box;
}
.content-html a {
  color: #1878F3;
}
.content-html a:hover {
  border-bottom: 1px solid #1878F3;
}
.content-html .audio, .content-html .uni-audio-default {
  display: block;
}
.content-html .inline {
  display: inline;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1005px) {
  .content-html p {
    font-size: 14px;
  }
  .content-html a {
    font-size: 14px;
  }
}

/*# sourceMappingURL=reset.css.map */
