@charset "UTF-8";
html {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",  Arial, sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #333;
}

body {
  height: 100%;
  background: #F4F5F6;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
i {
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

// img {
//   max-width: 100%;
// }

input {
  outline: 0;
}

textarea {
  resize: none;
  outline: 0;
}

button, input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  border: none;
  outline: 0;
  background: inherit;
  padding: 0;
}

video {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.09);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 100px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: inherit;
  color: #C0C4CC;
}

::-moz-placeholder { /* Firefox 19+ */
  font-family: inherit;
  color: #C0C4CC;
}

:-ms-input-placeholder { /* IE 10+ */
  font-family: inherit;
  color: #C0C4CC;
}

:-moz-placeholder { /* Firefox 18- */
  font-family: inherit;
  color: #C0C4CC;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.flex {
  display: flex;
}

.hidden-text, .text-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cont {
  max-width: 1005px;
  margin: 0 auto;
}

.overflow {
  overflow: hidden;
}

.width-1200 {
  width: 1200px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hidden-text, .text-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hover {
  cursor: pointer;
}
.no-more{
  text-align: center;
  padding:20px 0;
  color: #8590A6;
  font-size: 14px;
  .empty-icon{
    margin-right: 10px;
    font-size: 16px;
  }
}
.load-more{
  color:  #1878F3;
  border:1px solid #E5F2FF;
  font-size: 16px;
  text-align: center;
  padding:12px 0;
  line-height: 1;
  cursor: pointer;
  margin: 20px;
  border-radius:2px;
  &:hover{
    background: #E5F2FF;
    border:1px solid #1878F3;
  }
}

.btn-primary-plain{
  color:  #1878F3;
  border:1px solid #1878F3;
  transition: all 0.1s ease-in-out;
  &:hover{
    background: #E5F2FF;
    border:1px solid #D4E6FC;
  }
}
.btn-primary{
  background: #1878F3;
  color: #fff;
  transition: all 0.1s ease-in-out;
  &:hover{
    background: #006CD1;
  }
}
//el-select 选中颜色
.el-select-dropdown__item{
  &.selected, &.hover, &:hover{
    color: #1878F3 !important;
    background-color: transparent !important;
  }
}
// el-table 线条颜色
.el-table--border::after, .el-table--group::after, .el-table::before{
  background-color: #f5f5f5 !important;
}
.el-table td{
  border-bottom: 1px solid #f5f5f5 !important;
}
/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=reset.css.map */

/* el-button 颜色 */
.el-button.el-button--primary {
  border: none !important;
  background: #1878F3 !important;
  border-radius: 2px !important;
  &:hover {
    border: none !important;
    background: #006CD1 !important;
  }
}
// element提示
.el-message{
  min-width: 100px !important;
}
// el-images 去圆角
.el-image {
  border-radius: 0 !important;
}
// el-upload-picture-card 去圆角
.el-upload--picture-card {
  border-radius: 0 !important;
}
.el-upload-list--picture-card .el-upload-list__item {
  border-radius: 0 !important;
}

$em: 16px;

/* html */
.content-html {
  overflow: auto;
  font-size: $em;
  line-height: 1.5 * $em;
  //user-select: none;
  word-break: break-word;
  .h1 { margin: 0.67 * $em 0; font-size: 2 * $em; line-height: 1.2 * $em; }
  .h2 { margin: 0.83 * $em 0; font-size: 1.5 * $em; }
  .h3 { margin: 1 * $em 0; font-size: 1.17 * $em; }
  .h4 { margin: 1.33 * $em 0; }
  .h5 { margin: 1.67 * $em 0; font-size: 0.83 * $em; }
  .h6 { margin: 1.67 * $em 0; font-size: 0.83 * $em; }
  .h1, .h2, .h3, .h4, .h5, .h6, .b, .strong { font-weight: bolder; }
  div { margin: 0; padding: 0; display: block; word-break: break-word; }
  p { line-height: 24px; font-size: $em; clear: both;  margin-bottom: $em; &:last-child { margin-bottom: 0 } }
  i, cite, em, var, address { font-style: italic; }
  .spaceshow { white-space: pre; }
  pre, tt, code, kbd, samp { font-family: monospace; }
  .pre { padding: 16px; margin: 1 * $em 0; overflow: auto; font-size: 24px; white-space: pre; background: #f5f5f5; }
  code { display: block; padding: 16px; margin: 10px 0; overflow: auto; font-size: $em; white-space: pre; background: #f5f5f5; max-width: 650px; }
  .big { font-size: 1.17 * $em; }
  .small, .sub, .sup { font-size: 0.83 * $em; }
  .sub { vertical-align: sub; }
  .sup { vertical-align: super; }
  .s, .strike, .del { text-decoration: line-through; }
  .strong, .text, .span, .s { display: inline; }
  .video { margin: 22px 0; text-align: center; }
  .video-video { width: 100%; }
  .uni-image { max-width: 100%; }
  img { max-width: 100% !important; overflow: hidden !important; }
  .qq-emotion {height: 22px; margin: 0}
  video {max-width: 100% !important; overflow: hidden !important; }
  blockquote { padding: 22px 0 22px 22px; margin: 10px 0; color: #6a737d; border-left: 6px solid #dbdbdb; }
  blockquote p { margin: 0; }
  ul { display: block; padding-left: 2 * $em; margin: 1em 0; list-style: disc; }
  ol { display: block; padding-left: 2 * $em; margin: 1em 0; list-style: revert; }
  ul > li { display: list-item; align-items: baseline; text-align: match-parent; }
  ol ul { list-style-type: circle; }
  u { text-decoration: underline; }
  .hide { display: none; }
  del { display: inline; }
  .figure { overflow: hidden; }
  .tablebox { padding: 8px; overflow: auto; font-size: 13px; background: #f5f5f5; background-color: #f5f5f5; }
  table table, table { overflow: auto; white-space: pre; border-collapse: collapse; box-sizing: border-box;}
  table thead, table tfoot, table th { font-weight: bold; background: #ececec; border-collapse: collapse; box-sizing: border-box; }
  table tr { overflow: auto; border-collapse: collapse; box-sizing: border-box; }
  table th, table td { overflow: auto; border: 2px solid #dadada; border-collapse: collapse; box-sizing: border-box; }
  tbody { border: 1px solid #dadada; border-collapse: collapse; box-sizing: border-box; }
  a { color: #1878F3; &:hover { border-bottom: 1px solid #1878F3; } }
  .audio, .uni-audio-default { display: block; }
  .inline { display: inline; padding: 0; margin: 0; }
}


@media screen and ( max-width: 1005px ) {
  $em: 14px;
  .content-html {
    p {
      font-size: 14px;
    }
    a {
      font-size: 14px;
    }
  }
}
